<div *ngIf='!category1Donations'>
  <h1>Loading...</h1>
</div>
<div *ngIf='category1Donations' [style.background-image] ='getBackground(project?.backgroundUrl)' style="color:white; height: 100vh; background-position: center; background-repeat: no-repeat;background-size: cover;" dir="rtl">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">              
            <div class="row center">
              <div class="center" style="margin-top: 30%">
                <h1>{{donation?.sur}} {{donation?.name}}</h1>
              </div>
              <div>
                <img src="assets/mid.png" width="100%">      
              </div>
              <div class="center">
                <h1>{{donation?.amount}} {{project.currency}}</h1>
              </div>
            </div>
              <div class="row center">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8" style="background-image: url(assets/total_bg.png);background-repeat: no-repeat;background-size: contain; ">
                      <h4 style="color:#000;margin-top: 0px;margin-bottom: 0px;padding-top: 18px;line-height: 30px;" dir="rtl">סה"כ נתרם:</h4>
                      <h4 style="color:#000;margin-top: 0px;margin-bottom: 30px;padding-bottom: 0px;line-height: 30px;"> {{project?.totalDonation}} {{project.currency}}</h4>
                  </div>
                  <div class="col-sm-2"></div>
              </div>
          </div>
          <div class="col-sm-8" dir="rtl">
              <div class="row" dir="rtl" style="margin-top: 15%;">
                  <div class="col-sm-{{numCat}}" dir="rtl" *ngFor="let c of project.categories">
                      <h3 class="center">{{c.value}}</h3>                     
                  </div>
              </div>
              <div class="row" dir="rtl">
                  <div class="col-sm-{{numCat}}" dir="rtl">
                      <ul class="custom-ul" dir="rtl" *ngFor="let cd of category1Donations;">
                          <li  class="custom-li" dir="rtl">{{cd.sur}} {{cd.name}}</li>                                                                                                        
                      </ul>                     
                  </div>
                  <div class="col-sm-{{numCat}}" dir="rtl">
                      <ul class="custom-ul" dir="rtl" *ngFor="let cd of category2Donations;">
                            <li  class="custom-li" dir="rtl">{{cd.sur}} {{cd.name}}</li>                                                                                                           
                      </ul>                     
                  </div>
                  <div class="col-sm-{{numCat}}" dir="rtl">
                      <ul class="custom-ul" dir="rtl" *ngFor="let cd of category3Donations;">
                            <li  class="custom-li" dir="rtl">{{cd.sur}} {{cd.name}}</li>                                                                                                      
                      </ul>                     
                  </div>
                  <div class="col-sm-{{numCat}}" dir="rtl">
                      <ul class="custom-ul" dir="rtl" *ngFor="let cd of category4Donations;">
                            <li  class="custom-li" dir="rtl">{{cd.sur}} {{cd.name}}</li>                                                                                                            
                      </ul>                     
                  </div>
              </div>
          </div>          
      </div>
  </div>
</div>